# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
ES6/node_modules
typescript/node_modules

# testing
/coverage

# production
typescript/build
ES6/build
typescript/public
ES6/public
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/package-lock.json
