@import "@webdatarocks/webdatarocks/webdatarocks.min.css";

#container {
  padding: 100px 0 0;
  color: #555;
  margin: 14px 0;
  text-rendering: optimizeLegibility !important;
}

#pivot {
  margin: 0 80px;
  position: relative;
  display: flex;
  border: 2px solid rgb(233, 241, 243);
  border-radius: 1.125rem;
}

@media screen and (max-width: 1050px) {
  #container {
    padding-top: 140px;
  }
}

#pivot #wdr-toolbar-wrapper #wdr-toolbar {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#pivot #wdr-toolbar-wrapper #wdr-toolbar .wdr-toolbar-group-right {
  right: 0.5rem;
}

#pivot #wdr-toolbar-wrapper~#wdr-pivot-view {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#pivot #wdr-pivot-view {
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-radius: 1rem;
}

#pivot #wdr-toolbar-wrapper~#wdr-pivot-view #wdr-grid-view {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#pivot #wdr-grid-view, #pivot #wdr-popUp-modal-overlay {
  border-radius: 1rem;
}

/* Top menu */
.mainheader {
  position: absolute;
  font-size: 0;
  width: 100%;
  min-width: 588px;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid transparent;
  display: block;
  box-sizing: border-box;
}

.mainheader.fixed-head {
  background-color: #fff;
  border-bottom: 1px solid #cdcdcf;
  box-shadow: 0px 2px 10px rgba(226, 230, 232, 0.6);
  z-index: 1001;
}

.mainheader .container-xl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  min-width: 770px;
  margin: 0 auto;
  position: relative;
  height: 70px;
}

.mainheader .logo {
  margin-left: 32px;
  display: block;
  position: absolute;
  left: 0;
  width: 250px;
}

a {
  text-decoration: none;
}

.mainheader .logo img {
  display: block;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

.mainheader .mainnav {
  margin: 0 38px;
}

.mainheader .mainnav,
.mainheader .mainheader-icons {
  padding-top: 2px;
}

.mainnav {
  margin-left: 10px;
}

.mainnav li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 32px;
}

@media screen and (max-width: 1200px) {
  .mainnav li {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .mainnav li {
    display: block;
    margin-bottom: 3px;
  }

  .mainheader .container-xl {
    height: 120px;
  }
}

.mainnav li a {
  font-size: 15px;
  font-family: sans-serif;
  line-height: 1.35714;
  text-transform: uppercase;
  color: #454545;
  position: relative;
  font-weight: 600;
}

.mainnav li a:hover {
  color: rgb(244, 83, 40);
  transition: all 0.4s ease-out;
}